gcp_info = {
  project_id = "test-gcp-project"
  region     = "asia-south1"
  vpc_name   = "test-gcp-vpc"
}

aws_info = {
  region          = "ap-south-1"
  profile         = "test-aws-profile"
  vpc_id          = "vpc-06302acf05exxxxxx"
  route_table_ids = ["rtb-02611b445ebxxxxxx", "rtb-07037ce6ce6xxxxxx"]
}

gcp_ha_vpn_gateway = {
  name = "test-ha-vpn-gateway"
}

gcp_router_bgp_asn = 65000

gcp_external_vpn_gateway_name = "test-gateway"